body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #e6f5e6; /* Fondo claro con tono verde */
    color: #004d00; /* Texto principal en verde oscuro */
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: #004d00; /* Fondo verde oscuro */
    color: #fff;
}

header .logo {
    height: 50px;
}

header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header ul li {
    margin: 0 10px;
}

header ul li a {
    color: #fff; /* Texto blanco para enlaces en el encabezado */
    text-decoration: none;
    font-weight: bold;
}

header ul li a:hover {
    text-decoration: underline;
}

#showcase {
    text-align: center;
    background: #009900; /* Fondo verde brillante */
    color: #fff; /* Texto blanco */
    padding: 50px 20px;
}

#projects-button {
    background: #004d00; /* Botón verde oscuro */
    color: #fff; /* Texto blanco */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

#projects-button:hover {
    background: #006600; /* Cambio a verde intermedio */
    color: #e6f5e6; /* Texto en un verde muy claro */
}

section {
    padding: 20px;
    background-color: #f2f9f2; /* Fondo de sección en verde muy claro */
    border-radius: 5px;
    margin: 10px;
}

.project {
    margin: 20px 0;
    background-color: #e6f5e6; /* Fondo verde claro */
    padding: 15px;
    border: 1px solid #004d00; /* Borde verde oscuro */
    border-radius: 5px;
    text-align: center;
}

.project img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
    border-radius: 5px;
}

.project button {
    background-color: #009900; /* Botón verde brillante */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.project button:hover {
    background-color: #004d00; /* Verde oscuro al pasar el cursor */
}

footer {
    text-align: center;
    padding: 10px 20px;
    background: #004d00; /* Fondo verde oscuro */
    color: #fff;
    margin-top: 20px;
}

#contact button {
    background-color: #E1306C; /* Botón de Instagram en color rosa */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

#contact button:hover {
    background-color: #ad1457; /* Sombra rosa más oscura */
}



